{% extends 'base.html' %}

{% block content %}


    <!-- Banner -->
        <section id="banner">
            <h1>A dynamic test-suite for DNS resilience.</h1>
        </section>

        <div id="requestDivBox">
            <a id="request">Request:<a>
            <select id="requestBox" multiple>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">2</option>
            </select>
        </div>


{% endblock %}
