{% extends 'base.html' %}

{% block content %}


       <section id="home" class="home">
            <div class="home-overlay-fluid">
                <div class="container">
                    <div class="row">
                        <div class="main_slider_area">
                            <div class="slider">
                                <div class="single_slider wow fadeIn" data-wow-duration="2s">
                                    <h2>UCL- Thesis!</h2>
                                    <p>LONDON'S GLOBAL UNIVERSITY</p>

                                </div>
                                <!--<div class="single_slider">
                                    <h2>HELLO!</h2>
                                    <p>We love our work...</p>
                                    <p>And We're taking it seriously...</p>
                                </div>
                                <div class="single_slider">
                                    <h2>HELLO!</h2>
                                    <p>We love our work...</p>
                                    <p>And We're taking it seriously...</p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of Banner Section -->


{% endblock %}
